

  .color {
    background-color:  rgb(176, 171, 197) !important;

  }


.nav-link {  
  font-size: 18px !important; 
}

.navbar {
  padding: 0 10px !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5)
}

.logoqua {
  margin-right: 30px;
  max-height: 50px;
}

.logoq{
  max-width: 40px;
  max-height: 40px;
}

/* .cont-linea {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5) ;
  z-index: 100;
  position: absolute;
 
} */

@media (max-width: 767px) {
  
  .linea1{
    height: 5px;
  }
  h4 {
    font-size: 12px !important;
    margin: 0 !important;
    font-weight: 600 !important;
    transform: scaleY(1.5);
  }

  .navbar>.container-fluid {
    padding-bottom: 5px
  }
}

h4 {
  color: rgb(36, 28, 68) !important;
  margin: 0 !important;
}


button:not(:disabled) {
  padding: 5px 5px;
}

.navbar-brand {
  margin-right: 0;
}

.log-btn{
  
  text-decoration: none;
  color: rgb(176, 171, 197);
  justify-content: center;
}

.log-btn:hover{
  text-decoration: none;
  color: rgb(36, 28, 68) !important;
  
  
}

.btn-outline-light { 
  
  margin: 10px 20px ;
  --bs-btn-bg: rgb(36, 28, 68) !important;
    --bs-btn-border-color: rgb(36, 28, 68) !important;
    --bs-btn-hover-bg: rgb(176, 171, 197)!important;
    --bs-btn-hover-border-color: rgb(176, 171, 197)!important;
    --bs-btn-focus-shadow-rgb: rgb(36, 28, 68) !important;
    --bs-btn-active-bg: rgb(36, 28, 68) !important;
    --bs-btn-active-border-color: rgb(36, 28, 68) !important;
    --bs-btn-disabled-bg: rgb(36, 28, 68) !important;
    --bs-btn-disabled-border-color: rgb(36, 28, 68) !important;

}

.btn-outline-light:hover {
  border-color: rgb(36, 28, 68) !important;
  background-color: rgb(176, 171, 197) !important;

}