


td {
    padding: 5px !important;
    color: azure; 
    border-bottom: 1px solid rgb(83, 61, 61) !important;
}

th{
    background-color:rgb(30, 25, 44) !important;
    color: beige !important;
}

.p-button {
    padding: 5px 8px ;
    margin-left: 5px;
    background-color: rgb(141, 136, 160) !important;
    border: 1px solid rgb(36, 28, 68) !important;
    border-radius: 10px;
}

.p-datatable-header {
    background-color: rgb(228, 225, 238) !important;
}

.p-datatable .p-datatable-tbody > tr {
    background-color: rgb(36, 28, 68) !important; 
    transition: background-color 0.3s ease !important;
    border-bottom: 1px solid rgb(78, 78, 80) !important;
  }
  
  /* Estilo para la fila en hover */
  .p-datatable .p-datatable-tbody > tr:hover {
    background-color: #392a70 !important; 
    cursor: pointer; 
  }

  .modalhead {
    margin-right: 20px;
    color: aliceblue;
  }

  .p-dialog .p-dialog-header {
    background-color: rgb(36, 28, 68);
    padding: 5px;
    
  }

 .info-client {
    margin-top: 20px;
  }
 
  .header {
    display: flex;
    justify-content: space-between;
  }

  .nomb-emp{
    margin: auto;
  }

  .titulo{
    text-align: center;
    margin-bottom: 10px;
  }





td {
    padding: 5px !important;
    color: azure; 
    border-bottom: 1px solid rgb(83, 61, 61) !important;
}

th{
    background-color:rgb(30, 25, 44) !important;
    color: beige !important;
}

.p-button {
    padding: 5px 8px ;
    margin-left: 5px;
    background-color: rgb(141, 136, 160) !important;
    border: 1px solid rgb(36, 28, 68) !important;
    border-radius: 10px;
}

.p-datatable-header {
    background-color: rgb(228, 225, 238) !important;
}

.p-datatable .p-datatable-tbody > tr {
    background-color: rgb(36, 28, 68) !important; 
    transition: background-color 0.3s ease !important;
    border-bottom: 1px solid rgb(78, 78, 80) !important;
  }
  
  /* Estilo para la fila en hover */
  .p-datatable .p-datatable-tbody > tr:hover {
    background-color: #392a70 !important; 
    cursor: pointer; 
  }

  .modalhead {
    margin-right: 20px;
    color: aliceblue;
  }

  .p-dialog .p-dialog-header {
    background-color: rgb(36, 28, 68);
    padding: 5px;
    
  }

 .info-client {
    margin-top: 20px;
  }
 
  .header {
    display: flex;
    justify-content: space-between;
  }

  .nomb-emp{
    margin: auto;
  }

  .titulo{
    text-align: center;
    margin-bottom: 10px;
  }

  .p-datatable {
    /* Ajusta el valor del margen según tus necesidades */
     border: 2px solid rgb(49,91,148);
     padding: 0 7px;
     background: rgb(228, 225, 238);
   }

  .table-container {
    width: 100%;
    height: 100%;
    background: rgb(232,171,174);
    padding: 20px 10px;
  }




